.container{
    max-width: 990px;
    margin: auto;
}
.signin-form{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

    .submit-buttons{
        display: flex;
        gap: 20px;
    }
}