.button-container{
    border: 1px solid black;
    padding: 15px 15px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;

    &.inverted-button{
        background-color: #000;
        color: #fff;
    }
    &.inverted-button:hover{
        background-color: #fff;
        color: #000;
    }

    &.google-signin-button{
        background-color: #357ae8;
        color: #fff;
        border: 1px solid #357ae8;
    }
}