body {
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Kumbh Sans', sans-serif;
}

a{
  text-decoration: none;
  color: black !important;
}
*{
  box-sizing: border-box;
}
.contaner{
  max-width: 990px;
  margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;
}

.sign-in-buttons{
  display: flex;
  gap: 30px;
}
